<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Login bg view</string>
			<key>backgroundColor</key>
			<string>#6886E8</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>textFields container</string>
			<key>backgroundColor</key>
			<string>#4F73E8</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>report cells</string>
			<key>backgroundColor</key>
			<string>#845AED</string>
		</dict>
	</array>
	<key>UITextField</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Textfield 2</string>
			<key>backgroundColor</key>
			<string>#FFFFFF(0.0)</string>
			<key>textColor</key>
			<string>#EBC5D6</string>
		</dict>
	</array>
	<key>UIImageView</key>
	<array>
		<dict>
			<key>imageColor</key>
			<string>#EBB2CC</string>
			<key>backgroundColor</key>
			<string>#4F73E8</string>
			<key>layer.cornerRadius</key>
			<integer>50</integer>
			<key>layer.borderWidth</key>
			<integer>5</integer>
			<key>layer.borderColor</key>
			<string>#3A64F0</string>
		</dict>
		<dict>
			<key>imageColor</key>
			<string>#0092E8:#C8DCE8</string>
		</dict>
	</array>
	<key>UIButton</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Textfield 1</string>
			<key>backgroundColor</key>
			<string>#14C81A:#3DC3CC</string>
			<key>tintColor</key>
			<string>#E87CB9:#E87CB9</string>
		</dict>
	</array>
	<key>UILabel</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Title in login</string>
			<key>textColor</key>
			<string>#EBC5D6</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Title in report cells</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Description in report cells</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
		</dict>
	</array>
	<key>UITabBar</key>
	<array>
		<dict>
			<key>backgroundColor</key>
			<string>#EBC5D6</string>
			<key>tintColor</key>
			<string>#FFFFFF</string>
			<key>barTintColor</key>
			<string>#EBC5D6</string>
		</dict>
	</array>
	<key>UINavigationBar</key>
	<array>
		<dict>
			<key>backgroundColor</key>
			<string>#EBC5D6</string>
			<key>barTintColor</key>
			<string>#EBC5D6</string>
		</dict>
	</array>
</dict>
</plist>
