<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIView 1</string>
			<key>backgroundColor</key>
			<string>#763878</string>
			<key>layer.borderWidth</key>
			<string>3</string>
			<key>layer.borderColor</key>
			<string>#E9C0EB</string>
			<key>layer.cornerRadius</key>
			<string>4</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>UIView 2</string>
			<key>backgroundColor</key>
			<string>#763878</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>UIView 2</string>
			<key>backgroundColor</key>
			<string>#F2F2F2</string>
		</dict>
	</array>
	<key>UITextField</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UITextfield 1</string>
			<key>backgroundColor</key>
			<string>#763878</string>
			<key>textColor</key>
			<string>#E9C0EB</string>
			<key>layer.cornerRadius</key>
			<string>3</string>
			<key>layer.borderWidth</key>
			<string>3</string>
			<key>layer.borderColor</key>
			<string>#E9C0EB</string>
		</dict>
	</array>
	<key>UITextView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UITextView 1</string>
			<key>backgroundColor</key>
			<string>#763878</string>
			<key>textColor</key>
			<string>#E9C0EB</string>
			<key>layer.cornerRadius</key>
			<string>3</string>
			<key>layer.borderWidth</key>
			<string>3</string>
			<key>layer.borderColor</key>
			<string>#E9C0EB</string>
		</dict>
	</array>
	<key>UIImageView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIImageView 1</string>
			<key>imageColor</key>
			<string>#E9C0EB</string>
			<key>backgroundColor</key>
			<string>#763878</string>
			<key>layer.cornerRadius</key>
			<integer>35</integer>
			<key>layer.borderWidth</key>
			<integer>5</integer>
			<key>layer.borderColor</key>
			<string>#E9C0EB</string>
		</dict>
	</array>
	<key>UIButton</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIButton 1</string>
			<key>backgroundColor</key>
			<string>#14C81A:#3DC3CC</string>
			<key>tintColor</key>
			<string>#14C81A:#3DC3CC</string>
			<key>layer.cornerRadius</key>
			<string>2</string>
			<key>normal</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>#14C81A:#3DC3CC</string>
				<key>textColor</key>
				<string>#E87CB9:#E87CB9</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>highlighted</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>#14C81A:#3DC3CC</string>
				<key>textColor</key>
				<string>#E87CB9:#E87CB9</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>selected</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>#14C81A:#3DC3CC</string>
				<key>textColor</key>
				<string>#E87CB9:#E87CB9</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>disabled</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>#14C81A:#3DC3CC</string>
				<key>textColor</key>
				<string>#E87CB9:#E87CB9</string>
				<key>text</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>UILabel</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UILabel 1</string>
			<key>textColor</key>
			<string>#763878</string>
			<key>textAlignment</key>
			<string>1</string>
			<key>layer.backgroundColor</key>
			<string>#E9C0EB</string>
			<key>layer.borderWidth</key>
			<string>1</string>
			<key>layer.borderColor</key>
			<string>#763878</string>
			<key>layer.cornerRadius</key>
			<string>3</string>
		</dict>
	</array>
	<key>UITabBar</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UITabBar 1</string>
			<key>backgroundColor</key>
			<string>#EBC5D6</string>
			<key>tintColor</key>
			<string>#FFFFFF</string>
			<key>barStyle</key>
			<string>1</string>
		</dict>
	</array>
	<key>UINavigationBar</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UINavigationBar 1</string>
			<key>barTintColor</key>
			<string>#EBC5D6</string>
			<key>barStyle</key>
			<string>2</string>
		</dict>
	</array>
	<key>UISwitch</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UISwitch 1</string>
			<key>onTintColor</key>
			<string>#B684B8</string>
			<key>tintColor</key>
			<string>#763878</string>
			<key>thumbTintColor</key>
			<string>#E9C0EB</string>
		</dict>
	</array>
	<key>UISegmentedControl</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UISegmentedControl 1</string>
			<key>tintColor</key>
			<string>#763878</string>
			<key>backgroundColor</key>
			<string>#E9C0EB</string>
			<key>layer.cornerRadius</key>
			<string>4</string>
		</dict>
	</array>
	<key>UISlider</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UISlider 1</string>
			<key>tintColor</key>
			<string>#763878</string>
		</dict>
	</array>
	<key>UIStepper</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIStepper 1</string>
			<key>tintColor</key>
			<string>#763878</string>
			<key>backgroundColor</key>
			<string>#E9C0EB</string>
			<key>layer.cornerRadius</key>
			<string>4</string>
		</dict>
	</array>
	<key>UIProgressView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIProgressBar 1</string>
			<key>tintColor</key>
			<string>#763878</string>
			<key>backgroundColor</key>
			<string>#E9C0EB</string>
		</dict>
	</array>
</dict>
</plist>
