<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIView 1</string>
			<key>backgroundColor</key>
			<string>!!secondColor</string>
			<key>layer.borderWidth</key>
			<string>!!defaultBorderWidth</string>
			<key>layer.borderColor</key>
			<string>!!firstColor</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>UIView 2</string>
			<key>backgroundColor</key>
			<string>!!secondColor</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>UIView 2</string>
			<key>backgroundColor</key>
			<string>!!whiteColor</string>
		</dict>
	</array>
	<key>UITextField</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UITextfield 1</string>
			<key>backgroundColor</key>
			<string>!!secondColor</string>
			<key>textColor</key>
			<string>!!firstColor</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
			<key>layer.borderWidth</key>
			<string>!!defaultBorderWidth</string>
			<key>layer.borderColor</key>
			<string>!!firstColor</string>
		</dict>
	</array>
	<key>UITextView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UITextView 1</string>
			<key>backgroundColor</key>
			<string>!!secondColor</string>
			<key>textColor</key>
			<string>!!firstColor</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
			<key>layer.borderWidth</key>
			<string>!!defaultBorderWidth</string>
			<key>layer.borderColor</key>
			<string>!!firstColor</string>
		</dict>
	</array>
	<key>UIImageView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIImageView 1</string>
			<key>imageColor</key>
			<string>!!firstColor</string>
			<key>backgroundColor</key>
			<string>!!secondColor</string>
			<key>layer.cornerRadius</key>
			<integer>35</integer>
			<key>layer.borderWidth</key>
			<string>!!defaultBorderWidth</string>
			<key>layer.borderColor</key>
			<string>!!firstColor</string>
		</dict>
	</array>
	<key>UIButton</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIButton 1</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
			<key>tintColor</key>
			<string>#FFFFFF(0.0)</string>
			<key>contentHorizontalAlignment</key>
			<string>1</string>
			<key>normal</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>!!secondColor</string>
				<key>textColor</key>
				<string>!!firstColor</string>
				<key>text</key>
				<string>Btn normalText</string>
			</dict>
			<key>highlighted</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>!!firstColor</string>
				<key>textColor</key>
				<string>!!secondColor</string>
				<key>text</key>
				<string>Btn highlightedText</string>
			</dict>
			<key>selected</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>#FFFFFF(0.0)</string>
				<key>textColor</key>
				<string>!!firstColor</string>
				<key>text</key>
				<string>Btn selectedText</string>
			</dict>
			<key>disabled</key>
			<dict>
				<key>backgroundImageColor</key>
				<string>!!firstColor</string>
				<key>textColor</key>
				<string>!!thirdColor</string>
				<key>text</key>
				<string>Btn disabledText</string>
			</dict>
		</dict>
	</array>
	<key>UILabel</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UILabel 1</string>
			<key>textColor</key>
			<string>!!firstColor</string>
			<key>textAlignment</key>
			<string>1</string>
			<key>layer.backgroundColor</key>
			<string>!!secondColor</string>
			<key>layer.borderWidth</key>
			<string>!!defaultBorderWidth</string>
			<key>layer.borderColor</key>
			<string>!!firstColor</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
		</dict>
	</array>
	<key>UITabBar</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UITabBar 1</string>
			<key>backgroundColor</key>
			<string>!!firstColor</string>
			<key>tintColor</key>
			<string>!!whiteColor</string>
			<key>barStyle</key>
			<string>1</string>
			<key>barTintColor</key>
			<string>!!firstColor</string>
		</dict>
	</array>
	<key>UINavigationBar</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UINavigationBar 1</string>
			<key>barTintColor</key>
			<string>!!firstColor</string>
			<key>barStyle</key>
			<string>2</string>
		</dict>
	</array>
	<key>UISwitch</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UISwitch 1</string>
			<key>onTintColor</key>
			<string>!!firstColor</string>
			<key>tintColor</key>
			<string>!!secondColor</string>
			<key>thumbTintColor</key>
			<string>!!fourthColor</string>
		</dict>
	</array>
	<key>UISegmentedControl</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UISegmentedControl 1</string>
			<key>tintColor</key>
			<string>!!secondColor</string>
			<key>backgroundColor</key>
			<string>!!firstColor</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>UISegmentedControl 1</string>
			<key>tintColor</key>
			<string>#C5D7EB</string>
			<key>backgroundColor</key>
			<string>#15559E</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
		</dict>
	</array>
	<key>UISlider</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UISlider 1</string>
			<key>tintColor</key>
			<string>!!secondColor</string>
		</dict>
	</array>
	<key>UIStepper</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIStepper 1</string>
			<key>tintColor</key>
			<string>!!secondColor</string>
			<key>backgroundColor</key>
			<string>!!firstColor</string>
			<key>layer.cornerRadius</key>
			<string>!!defaultCornerRadius</string>
		</dict>
	</array>
	<key>UIProgressView</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIProgressBar 1</string>
			<key>tintColor</key>
			<string>!!secondColor</string>
			<key>backgroundColor</key>
			<string>!!firstColor</string>
		</dict>
	</array>
	<key>UIPageControl</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>UIPageControl 1</string>
			<key>pageIndicatorTintColor</key>
			<string>!!secondColor</string>
			<key>currentPageIndicatorTintColor</key>
			<string>!!firstColor</string>
		</dict>
	</array>
	<key>RPValues</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Skin 1</string>
			<key>!!firstColor</key>
			<string>#E9C0EB</string>
			<key>!!secondColor</key>
			<string>#763878</string>
			<key>!!thirdColor</key>
			<string>#FFFFFF(0.0)</string>
			<key>!!fourthColor</key>
			<string>#8F64A3</string>
			<key>!!whiteColor</key>
			<string>#FFFFFF</string>
			<key>!!defaultBorderWidth</key>
			<integer>2</integer>
			<key>!!defaultCornerRadius</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Skin 2</string>
			<key>!!firstColor</key>
			<string>#249BC7</string>
			<key>!!secondColor</key>
			<string>#84D7F5</string>
			<key>!!thirdColor</key>
			<string>#FFFFFF(0.0)</string>
			<key>!!fourthColor</key>
			<string>#649CA3</string>
			<key>!!whiteColor</key>
			<string>#F5A284</string>
			<key>!!defaultBorderWidth</key>
			<integer>4</integer>
			<key>!!defaultCornerRadius</key>
			<integer>9</integer>
		</dict>
	</array>
</dict>
</plist>
